<h1>About</h1>
<body>
<ul>
  <li><%= link_to 'Main', main_index_path %></li>
  <li><%= link_to 'Contacts', main_contacts_path %></li>
  <li><%= link_to 'Help', main_help_path %></li>
  <li><%= link_to 'Ruby on Rails Website', 'http://rubyonrails.org' %></li>
</ul>
</body>
